html, body{
    height: 100%;
    width: 100%;
}
#avatar{
    border-radius: 100%;
}
.body{
    height: 100%;
    width: 100%;
}
.guildDiv{
   margin-top: 1%;
}
.guildDiv img{
    border: 1px black solid;
    border-radius: 30%;
    height: 50px;
}

.head .dash{
    height: 100%;
    width: 100%;
    display: none;
}
.guildDiv img:hover{
    height: 60px;

}
.guildDiv a#guildName{
    background-color: azure;
    margin-top: 5%;
    padding: 5%;
}
.guildNameIndicator{
    color: aliceblue;
    background-color: blueviolet;
    padding: 1%;
    display: none;
}