html, body{
    height: 100%;
    width: 100%;
}
#avatar{
    border-radius: 100%;
}
.body{
    height: 100%;
    width: 100%;
}
.guildDiv{
   margin-top: 1%;
}
.guildDiv img{
    border: 1px black solid;
    border-radius: 30%;
    height: 50px;
}
.head{
    display:none
}
.head .dash{
    height: 100%;
    width: 100%;

}

.guildDiv a#guildName{
    background-color: azure;
    margin-top: 5%;

}
.guildNameIndicator{
    color: aliceblue;
    background-color: blueviolet;
    padding: 1%;
    display: none;
}