* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  text-decoration: none;
}
* ::-webkit-scrollbar {
  display: none;
}
html,
body {
  color: rgb(174, 206, 218);
  width: 100%;
  height: 100%;
  background-color: #444952;
}
.Main {
  background: linear-gradient(#677183, #303036);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.Main h2 {
  margin-top: 5%;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgb(116, 106, 126);
  }
  100% {
    box-shadow: 0 0 30px rgb(116, 106, 126);
  }
}
@keyframes glowToo {
  0% {
    box-shadow: 0 0 5px rgb(145, 157, 195);
  }
  100% {
    box-shadow: 0 0 20px rgb(142, 162, 176);
  }
}
.Main .buttonsRow button {
  color: rgb(144, 144, 210);
  background: linear-gradient(#524d63, #303036);
  border: 0;
  height: 60px;
  width: 120px;
  border-radius: 5px;
  font-size: large;
  align-self: center;
  margin-top: 2.5%;
  margin-left: 1%;
  transition: all 0.3s ease;
}
.buttonsRow > button:hover {
  transition: 0.3s;
  height: 60px;
  width: 130px;
}
button.inviteButton {
  border: 0;
  height: 60px;
  border-radius: 5px;
  font-size: large;
  align-self: center;
  color: rgb(158, 158, 158);
  margin-top: 1%;
  width: 210px;
  background: linear-gradient(#5b667c, #303036);
  transition: all 0.3s;
  animation: glowToo 0.5s infinite alternate;
}
.Body {
  height: 100%;
}
.Intro {
  display: flex;
  flex-direction: row;
  height: 50%;
  background: linear-gradient(#303036, #2e2c35);
}
img.BrottoliPFP {
  justify-self: center;
  align-self: center;
  border-radius: 25%;
  margin-left: 25%;
  width: 40%;
}
.left {
  float: left;
  align-items: center;
  justify-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.right {
  float: right;
  text-align: center;
  width: 50%;
}
.Features {
  display: flex;
  height: 50%;
  background: linear-gradient(#2e2c35, #292533);
}
.Source {
  height: 50%;
  background-color: #292533;
}
.Footer {
}
li {
    list-style:inside;
    font-size: larger;
}
#git {
  justify-self: center;
  align-self: center;
  border-radius: 25%;
  margin-left: 25%;
  width: 35%;
}