.head {
  height: 25%;
}
.body {
  height: 70%;
  display: inline-flex;
}
#commands {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

#commands td,
#commands th {
  border: 1px solid rgb(165, 194, 128);
  padding: 8px;
  text-align: center;
}
#commands tr:nth-child(odd) {
  background-color: rgb(45, 66, 48);
  color: rgb(137, 196, 147);
  text-align: center;
}
#commands tr:nth-child(even) {
  color: rgb(113, 255, 137);
  background-color: rgb(36 53 38);
}



#commands th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(53 84 53);
  color: rgb(187, 255, 191);
  text-align: center;
}
